*{
    margin: 0;
    padding: 0;
    background-color:#EDEAE3 ;
    box-sizing: border-box;
    font-family: sun-roman;
}
#page1{
min-height: 100vh;
width: 100%;
position: relative;
padding: 0 2vh;
}

#nav{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;

}
#nav img{
    height: 140px;
    width: 180px;
}
.right-nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    border:2px solid rgba(0, 0, 0, 0.442);
    border-radius:30px ;
    padding: 10px 20px;
    font-weight: 545;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.right-nav a:hover{
    color:white;
}
.right-nav a span{
    z-index: 2;
    position: relative;
    background: transparent;
}
.right-nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    background-color: black;
    transition: all ease 0.3s;
    border-radius: 50%;
    z-index: 1;
}
.right-nav a:hover::after{
    bottom: 0;
    border-radius: 0;
    
}
.right-nav{
    display: flex;
    gap: 20px;
    position: relative;
}
#firstpage{
display: flex;
justify-content: space-between;
align-items: flex-end;
height: 62vh;
width: 100%;
border-bottom: 1px solid black;
padding-bottom: 80px;

}
#left h2{
    font-size: 2rem;
    width: 55vh;
    font-weight: bold;
    font-family: sun-mediu;
    padding-left: 1vw;

}
#right h1{
    font-size: 11rem;
    width: 80vh;
    font-weight:  4000 ;
    word-spacing:-1px ;
    unicode-bidi: isolate;
    text-align: end;
    line-height: 80%;
    padding-right: 2vw;
}


 #page1 video{
    position: relative;
    margin-top: 8vh;
border-radius: 30px; 
width: 100%;

}
video{
    object-fit:contain ;
}